<svg width="20" height="120" version="1.1" xmlns="http://www.w3.org/2000/svg" id="meltedChocolate">

  <!-- Rectángulos -->
  <rect x="10" y="20" width="30" height="80" stroke="black" fill="transparent" stroke-width="4" />
  <rect x="40" y="20" width="30" height="80" stroke="black" fill="transparent" stroke-width="4" />
  <rect x="70" y="20" width="30" height="80" stroke="black" fill="transparent" stroke-width="4" />

  <!-- Líneas -->
  <line x1="10" x2="100" y1="40" y2="40" stroke="black" stroke-width="4"/>
  <line x1="10" x2="100" y1="60" y2="60" stroke="black" stroke-width="4"/>
  <line x1="10" x2="100" y1="80" y2="80" stroke="black" stroke-width="4"/>

  <!-- Polígonos -->
  <polygon points="10,100 15,106 13,109 10,110 7,109 5,106" stroke="black" stroke-width="2" />
  <polygon points="40,100 45,106 43,109 40,110 37,109 35,106" stroke="black" stroke-width="2" />
  <polygon points="70,100 75,106 73,109 70,110 67,109 65,106" stroke="black" stroke-width="2" />
  <polygon points="100,100 105,106 103,109 100,110 97,109 95,106" stroke="black" stroke-width="2" />

</svg>