<svg version="1.1" width="400" height="50" xmlns="http://www.w3.org/2000/svg" id="cocoaHub">
  <g>
    <text y="80%" x="2.5%" class="char">
      c
    </text>
    <text y="80%" x="15%" class="char">
      o
    </text>
    <text y="80%" x="27.5%" class="char">
      c
    </text>
    <text y="80%" x="40%" class="char">
      o
    </text>
    <text y="80%" x="52.5%" class="char">
      a
    </text>
    <text y="80%" x="65%" class="char">
      H
    </text>
    <text y="80%" x="77.5%" class="char">
      u
    </text>
    <text y="80%" x="90%" class="char">
      b
    </text>
  </g>
</svg>