 /* CONTENIDO GLOBAL */

 :root {
     /* Se indican las variables que se van a emplear */

     /* COLORES */
     --text-color: #000000;
     --main-color: #2E1405;
     --secondary-color: #F4E0BD;
     --tertiary-color: #613000;
     --border-img-color: #000000;

     /* TAMAÑOS */
     --initial-px: 10px;
     --figure-margin-top-size: 4rem;
     --h1-margin-top: 1rem;
     --h1-size: 5rem;
     --h2-size: 3rem;
     --h2-margin-size: 0.5rem;
     --h3-size: 2.5rem;
     --p-size: 2rem;
     --p-margin-size: 0.5rem;
     --nav-li-size: 2rem;
     --cite-size: 1.5rem;
     --border-radius-size: 0.5rem;
     --img-size: 40rem;
     --border-img-size: 0.5rem;
     --border-content-size: 0.4rem;
     --nav-li-margin-padding-size: 2rem;
     --main-padding-horizontal-size: 6rem;
     --main-padding-vertical-size: 2rem;
     --article-header-margin: 2rem;
     --img-cite-margin: 1rem;
     --footer-padding: 2rem;
     --dt-size: 2.2rem;
     --dt-margin-top: 2rem;
     --dt-margin-bottom: 0.5rem;
     --dd-figure-p-size: 1.8rem;
     --dd-figure-p-margin: 1rem;
     --img-reduced-height-rem: 40rem;
     --nested-list-title-size: 2rem;
     --nested-list-margin-bottom: 1rem;
     --inside-nested-list-size: 1.8rem;
     --inside-nested-list-margin-left-size: 1.5rem;
     --inside-nested-list-margin-top-size: 0.5rem;
     --video-introduction-margin-size: 2rem;
     --nav-a-border-size: 0.2rem;
     --nav-li-a-padding-size: 0.5rem;

     /* OTROS ELEMENTOS */
     --content-width: 60%;
 }

 *,
 *:after,
 *:before {
     /* Para garantizar que el diseño de los elementos sean consistentes */
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     /* Tamaño base para que sea más facil redimensionar con unidades rem */
     font-size: var(--initial-px);
     /* Color del texto y de fondo por defecto */
     background-color: var(--main-color);
     color: var(--secondary-color);
     /* Para cortar el contenido cuando empiece a desbordarse */
     overflow-x: hidden;
     /* Fuente de letra a emplear en la web; si NO se carga se usa sans-serif */
     font-family: "Delius Swash Caps", sans-serif;
 }

 h1 {
     margin-top: var(--h1-margin-top);
     font-size: var(--h1-size);
 }

 h2 {
     font-size: var(--h2-size);
     margin-top: var(--h2-margin-size);
     margin-bottom: var(--h2-margin-size);
 }

 h3 {
     font-size: var(--h3-size);
     font-style: italic;
 }

 h2,
 h3 {
     color: var(--tertiary-color);
     /* Para que el validador CSS no produzca errores*/
     background-color: inherit;
 }

 p {
     font-size: var(--p-size);
     margin-top: var(--p-margin-size);
     margin-top: var(--p-margin-size);
 }

 cite {
     font-size: var(--cite-size);
 }

 a {
     /* Color de los enlaces */
     color: var(--tertiary-color);
     /* Para que el validador CSS no produzca errores*/
     background-color: inherit;
     /* Se quita la línea por defecto */
     text-decoration: none;
 }

 a:hover {
     /* Se incluye la línea cuando se mueve el ratón por encima */
     text-decoration: underline;
 }

 /* CONTENEDORES PRINCIPALES */

 .imgContent {
     /* Imagen de fondo */
     background-image: url('/src/img/fondo.jpg');
     /* Para poder redimensionar sin que la imagen pierda calidad */
     background-size: cover;
     /* Se aplica un display flex para poder centrar el contenido */
     display: flex;
     justify-content: center;
 }

 .alignContent {
     /* Especifica el ancho permitido del contenido para que se vea la foto por los lados */
     width: var(--content-width);
     /* Se aplican border laterales para mejorar la presentación */
     border-left: var(--border-content-size) solid var(--border-img-color);
     border-right: var(--border-content-size) solid var(--border-img-color);
     /* Para centrar los elementos se usa un display flex y se alinean los contenido */
     display: flex;
     justify-content: center;
     align-items: center;
     /* Se trabaja con columnas de contenido*/
     flex-direction: column;
     /* Color principal de la web */
     background-color: var(--main-color);
     /* Para que el validador CSS no produzca errores*/
     color: inherit;
 }

 /* NAVEGACIÓN */

 nav ul {
     /* Se hace un flex para poder colocar los items en una línea*/
     display: flex;
     /* Para dejar espacio entre los elementos */
     justify-content: space-between;
     /* Se quita los puntos de la lista */
     list-style-type: none;
 }

 nav ul li {
     /* Fuente de letra */
     font-size: var(--nav-li-size);
     /* Márgenes externos/internos */
     margin-top: var(--nav-li-margin-padding-size);
     margin-bottom: var(--nav-li-margin-padding-size);
     padding-left: var(--nav-li-margin-padding-size);
     padding-right: var(--nav-li-margin-padding-size);
 }

 header h1 a,
 nav ul li a {
     /* Color de los enlaces en la navegación*/
     color: var(--secondary-color);
     /* Para que el validador CSS no produzca errores*/
     background-color: inherit;
 }

 nav ul li a {
     border: var(--nav-a-border-size) solid var(--secondary-color);
     padding: var(--nav-li-a-padding-size);
 }

 header h1 a:hover,
 .navSelected,
 nav ul li a:hover {
     color: var(--main-color);
     background-color: var(--secondary-color);
     text-decoration: none;
 }

 /* LISTA DESCRIPTIVA */

 main h2 {
     /* Se alinea el texto superior */
     text-align: center;
 }

 dt {
     /* Tamaño del título de los ítems */
     font-size: var(--dt-size);
     /* Color del título */
     color: var(--tertiary-color);
     background-color: inherit;
     /* Para enfatizar el texto */
     font-weight: bold;
     /* Margenes de los títulos */
     margin-top: var(--dt-margin-top);
     margin-bottom: var(--dt-margin-bottom);
 }

 dd figure p {
     font-size: var(--dd-figure-p-size);
     /* Para aportar un estilo cursivo */
     font-style: italic;
     margin-top: 0;
     /* Se indica algo de espacio con la imagen */
     margin-bottom: var(--dd-figure-p-margin);
     /* Gestión del color */
     color: var(--tertiary-color);
     background-color: inherit;

 }

 /* LISTA DE ENLACES */

 .alignList {
     display: flex;
     justify-content: center;
 }

 .nestedList,
 .nestedList li ul {
     list-style-type: none;
 }

 .nestedListTitle {
     /* Tamaño de los textos */
     font-size: var(--nested-list-title-size);
     /* Margen inferior para diferenciar categorías */
     margin-bottom: var(--nested-list-margin-bottom);
     /* Colores */
     color: var(--tertiary-color);
     background-color: inherit;
     /* Para enfatizar el título */
     font-style: italic;
 }

 .insideNestedList li {
     /* Los elementos tienen un tamaño inferior */
     font-size: var(--inside-nested-list-size);
     /* Se rquita el estilo itálico */
     font-style: initial;
     /* Colores */
     color: var(--text-color);
     background-color: inherit;
     /* Margen para diferenciar las listas anidadas */
     margin-left: var(--inside-nested-list-margin-left-size);
     /* Margen para diferenciar entre los elementos */
     margin-top: var(--inside-nested-list-margin-top-size);
 }

 .insideNestedList li::before {
     /* Uso de un carácter unicode para dar mayor estilo */
     content: "\0279B";
 }

 /* CONTENIDO CENTRAL */

 main {
     /* El contenedor ocupa todo el ancho del padre*/
     width: 100%;
     /* Borde negro superior con el header*/
     border-top: var(--border-content-size) solid var(--border-img-color);
     /* Colores a indicar */
     color: var(--text-color);
     background-color: var(--secondary-color);
     /* Márgenes internos del contenido*/
     padding-top: var(--main-padding-vertical-size);
     padding-bottom: var(--main-padding-vertical-size);
     padding-left: var(--main-padding-horizontal-size);
     padding-right: var(--main-padding-horizontal-size);
 }

 article header {
     /* Para centrar los titulares */
     text-align: center;
     /* Margen de fondo */
     margin-bottom: var(--article-header-margin);
 }


 figure {
     /* Uso de un display flex para linear en el centro la imagen y su cita */
     display: flex;
     justify-content: center;
     align-items: center;
     /* Margen con el texto superior */
     margin-top: var(--figure-margin-top-size);
     /* Se colocan los elementos uno debajo de otro*/
     flex-direction: column;
 }

 img {
     /* Para establecer imágenes responsivas */
     max-width: 100%;
     height: auto;
     /* Se establece un ancho */
     width: var(--img-size);
     /* Margen con la cita inferior */
     margin-bottom: var(--img-cite-margin);
     /* Para definir un borde negro en las imágenes */
     border-radius: var(--border-radius-size);
     border: var(--border-img-size) solid var(--border-img-color);
 }

 iframe {
     /* Para ajustar el tamaño del vídeo */
     width: 100%;
     /* Permite que el alto se mantenga coherente */
     height: 100%;
     /* Establece un ratio adecuado para la "caja" en la que se incluye el vídeo */
     aspect-ratio: 16/9;
     /* Borde de los vídeos */
     border-top: var(--border-content-size) solid var(--border-img-color);
 }

 /* PIE DE PÁGINA */

 footer {
     /* Para crear un borde negro con el resto de bloques */
     border-top: var(--border-content-size) solid var(--border-img-color);
     /* Alinear texto */
     text-align: center;
     /* Margen interno */
     padding-top: var(--footer-padding);
     padding-bottom: var(--footer-padding);
 }


 /* OTROS ELEMENTOS */

 .reduced {
     /* Para reducir la altura de algunas imágenes */
     height: var(--img-reduced-height-rem);
     /* Asegura que no se pierda la proporción */
     width: auto;
 }

 .videoIntroduction {
     /* Margen superior del párrafo que presenta el vídeo */
     margin-top: var(--video-introduction-margin-size);
 }

 .videoIntroduction+figure {
     /* Margen superior del vídeo con el texto que lo presenta */
     margin-top: var(--video-introduction-margin-size);
 }